<% provide(:title, 'About Us')%>
<h1>About Us</h1>
<p>
  I am Raj <a href="https://www.facebook.com/anandaraj02">find me in facebook</a>
  or in <a href="https://github.com/rajanand02">github</a> and i am following this tutorial for fun.
</p>
