<% provide(:title, 'Contact')%>
<h1>Contact</h1>
<p>
   like me on facebook<a href="https://www.facebook.com/anandaraj02">find me in facebook</a>
  or in <a href="https://github.com/rajanand02">github</a> and i am following this tutorial for fun.
  
  </p>
